*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
release/
libs/
.gradle/
local.properties
.idea/
.gradle/
build/
/*/out
*.iml
*.iws
*.ipr
*.ids
*.log
captures/
.externalNativeBuild/
*.jks
*.keystore
.externalNativeBuild
proguard/
*.log
.navigation/
captures/
.gradle/
/build/
local.properties
.cmake/

